@{
    ViewBag.Title = "Quienes Somos";
}
<section class="w3l-about-breadcrumb">
    <div class="breadcrumb-bg breadcrumb-bg-about pt-5">
        <div class="container pt-lg-5 py-3">
        </div>
    </div>
</section>
<section class="w3l-breadcrumb">
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li><a href="@Url.Action("Index","Home")">Home</a></li>
           
            <li class="active"><span class="fa fa-angle-right mx-2" aria-hidden="true"></span> Nosotros</li>
        </ul>
    </div>
</section>
<section class="w3l-index3" id="about">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="row">
                <div class="col-lg-5 pr-lg-0">
                    <div class="w3l-left-img2">
                    </div>
                </div>
                <div class="col-lg-7 pl-lg-0">
                    <div class="w3l-right-info">
                        <h6 class="title-small">Nosotros</h6>
                        <h3 class="title-big">Nuestra basta experiencia en inmobilaria</h3>
                        <h5 class="mt-4">
                            Contamos con más de 10 años ofreciendo los mejores departamentos, con la mejor infraestructura
                            y calidad que se pueda encontrar, posicionandono en una de las más grandes empresas a nivel nacional
                            en el arriendo de inmobiliarias.
                        </h5>
                        <p class="mt-4">
                           
                        </p>
                        <!--<a href="#small-dialog1" class="popup-with-zoom-anim play-view d-block mt-md-5 mt-4">
                            <span class="video-play-icon">
                                <span class="fa fa-play"></span>
                            </span>
                            Video
                        </a>-->
                        <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                        <!--<div id="small-dialog1" class="zoom-anim-dialog mfp-hide">
                            <iframe src="https://www.youtube.com/embed/jqP3m3ElcxA" frameborder="0" allowfullscreen=""></iframe>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="w3l-aboutblock2" id="why">
        <div class="midd-w3 py-5">
            <div class="container py-lg-5 py-md-4 py-2">
                <div class="row">
                    <div class="col-lg-6 left-wthree-img">
                        <img src="../Content/assets/images/about.jpg" alt="" class="img-fluid radius-image" />
                    </div>
                    <div class="col-lg-6 mt-lg-0 mt-5 align-self">
                        <h6 class="title-small">¿Porque elegirnos?</h6>
                        <h3 class="title-big">Funcionarios 100% dedicados a guiar a nuestros clientes en su elección</h3>
                        <p class="mt-4">
                            Sí necesitas de una persona guía para elegir el mejor departamente que se adapte a tus necesidades
                            , nuestros funcionarios están 100% dedicados a nuestro cliente, para que tome la mejor decisión
                        </p>
                        <ul class="w3l-right-book mt-lg-5 mt-4">
                            <li><span class="fa fa-check" aria-hidden="true"></span>Tomarás la decisión correcta</li>
                            <li><span class="fa fa-check" aria-hidden="true"></span>No estás solo al momento de elegir</li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="w3l-agentsblock py-5" id="team">
        <div class="container py-lg-5 py-md-4 py-2">
            <h6 class="title-small text-center">Nuestro Equipo</h6>
            <h3 class="title-big text-center mb-lg-5 mb-4">Conoce a nuestros funcionarios</h3>
            <!-- block -->
            <div class="row">
                <div class="col-lg-3 col-sm-6 column-item">
                    <div class="users_box">
                        <div class="user-avatar">
                            <a href="#agent-single" class="avatar">
                                <img src="../Content/assets/images/team1.jpg" alt="" class="img-fluid w-100 radius-image">
                            </a>
                        </div>
                        <div class="users_box_info">
                            <p class="user_position">Funcionario de ventas</p>
                            <h4 class="user_title agent">
                                <a>Lis Taylor</a>
                            </h4>


                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 column-item">
                    <div class="users_box">
                        <div class="user-avatar">
                            <a href="#agent-single" class="avatar">
                                <img src="../Content/assets/images/team2.jpg" alt="" class="img-fluid w-100 radius-image">
                            </a>
                        </div>
                        <div class="users_box_info">
                            <p class="user_position">Funcionario de ventas</p>
                            <h4 class="user_title agent">
                                <a>Lis Taylor</a>
                            </h4>


                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 column-item">
                    <div class="users_box">
                        <div class="user-avatar">
                            <a href="#agent-single" class="avatar">
                                <img src="../Content/assets/images/team3.jpg" alt="" class="img-fluid w-100 radius-image">
                            </a>
                        </div>
                        <div class="users_box_info">
                            <p class="user_position">Funcionario de ventas</p>
                            <h4 class="user_title agent">
                                <a>Lis Taylor</a>
                            </h4>


                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 column-item">
                    <div class="users_box">
                        <div class="user-avatar">
                            <a href="#agent-single" class="avatar">
                                <img src="../Content/assets/images/team4.jpg" alt="" class="img-fluid w-100 radius-image">
                            </a>
                        </div>
                        <div class="users_box_info">
                            <p class="user_position">Funcionario de ventas</p>
                            <h4 class="user_title agent">
                                <a>Lis Taylor</a>
                            </h4>


                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- stats -->
    <section class="w3l-stats py-5" id="stats">
        <div class="gallery-inner container py-lg-5 py-md-4 py-2">
            <div class="row stats-con">
                
                <div class="col-md-6 col-6 stats_info counter_grid1">
                    <p class="counter">256</p>
                    <span class="plus">+</span><br>
                    <h3>Departamentos en renta</h3>
                </div>
                
                <div class="col-md-6 col-6 stats_info counter_grid2 mt-md-0 mt-4">
                    <p class="counter">145 </p>
                    <span class="plus">k</span><br>
                    <h3>Clientes felices </h3>
                </div>
            </div>
        </div>
    </section>
    <!-- //stats -->
